*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;    
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    .wrapper{
        background-color: blue;
        padding: 2rem;
        line-height: 2.5rem;
        width: 20rem;
    }
}
