body{
    background-color: gray;
    margin: 0;
    color: white;
    height:  100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2rem;
    .wrapper{
        background-color: blue;
        padding: 2rem;
        border-radius: 1.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        #password{
            background-color: rgba(0, 0, 0, .3);
            padding: 0.5rem 5rem;
            border-radius: .5rem;
            box-shadow: 0rem 0rem .5rem  .5rem rgba(0,0,0, 0.6);
        }
        form{
            display: grid;
            grid-template-columns: auto auto ;

            button{
                grid-column:  span 2;
                border-radius: .3rem;
                padding: .5rem;
            }

        }
    }
}
