* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.box{
  box-shadow: 0 2px 8px 0 rgba(99, 99, 99, .2);
}


#canvas {
  width: 95vw;
  height: 95vh;
  border: 2px solid black;
}

.toolbox {
  display: flex;
  padding: 15px 25px;
  column-gap: 20px;
  align-items: center;
  background-color: aliceblue;
}

.toolbox__btn{
  padding: 12px 25px;
  border-radius: 15px;
  font-size: 18px;
  background: #6163ed;
  color: #fff;
  border: 0;
  cursor: pointer;
}
.toolbox__btn:hover {
  background: #5658d9;
}

.toolbox__number {
  width: 70px;
  font-size: 22.px;
  padding: 10px;
  text-align: center;
  border-radius: 15%;
  border: 0;
  outline: 0;

}
.toolbox__color {
  width: 70px;
  height: 50px;
  border:0;
  padding: 0;
  cursor: pointer;
}